<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Editar</title>
</head>
<body>
    <form action="/pessoas/{{pessoa.id}}" method = "post">

    <input type="text" name="nome" value="{{pessoa.nome}}" required>
    
    <button type="submit">salvar</button>
    </form>

    <a href="/pessoas">voltar</a>
</body>
</html>