<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela principal</title>
</head>
<body>
    <h1>Tela principal</h1>
    <a href="/pessoas">Listar pessoas</a>
    <a href="/pessoas/nova">Cadastrar pessoas</a>
</body>
</html>

